* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* .clearfix::after {
  content: "";
  clear: both;
  display: table; */

/* HEADER */

.main-header {
  padding-bottom: 136px;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.main-logo-link {
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #95e1d3;
}
.navigation-list-link {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #95e1d3;
  text-transform: uppercase;
  margin-right: 56px;
}

/* MAIN */

.section-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  color: #333333;
  text-align: center;
  padding-bottom: 44px;
}
.title-style {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin-top: 20px;
}
.section-title::after {
  display: block;
  content: "";
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 40px;
}

/* services */

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services-list-item {
  width: 380px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.alarm {
  background-image: url(../img/services/ALARM.png);
}
.graph {
  background-image: url(../img/services/GRAPH.png);
}
.computer {
  background-image: url(../img/services/COMPUTER.png);
}
.book {
  background-image: url(../img/services/book.png);
}
.home {
  background-image: url(../img/services/HOME.png);
}
.image {
  background-image: url(../img/services/IMAGE.png);
}
.services-name {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.about-services {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
}

/* team */

.about-team {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
  width: 980px;
  margin: 0 auto;
  text-align: center;
}
.our-team {
  display: flex;
  justify-content: space-between;
}
.team-name {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.profession {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #999999;
}

/* footer */

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.designed {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
}
.designed-link {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f38181;
}
.subscribe-form {
  display: flex;
}
.subscribe-form__input {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
  width: 230px;
  height: 40px;
}
.subscribe-form__btn {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
  border: none;
}
