* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* HEADER */
.main-logo {
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #95e1d3;
}
