html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Playfair Display", "Arial", "Times New Roman", sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
.container {
  width: 900px;
  margin: 0 auto;
}

.main-menu {
  width: 900px;
  margin-top: 77px;
  margin-bottom: 104px;
  padding-left: 165px;
  padding-right: 165px;
  font-family: "Playfair Display", "Arial", "Times New Roman", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.main-menu li {
  display: inline-block;
  margin-right: 101px;
}
.main-menu li:last-child {
  margin-right: 0px;
}
.main-menu a {
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
ul.main-menu {
  list-style: none;
}
.main-nav a:hover,
.main-nav a:focus {
  color: #03a9f4;
}

/* Нарешті доробив шапку сайта (сподіваюсь)))*/

.lifestyle-list {
  list-style: none;
}
p.Ubuntu {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.lifestyle-list-item h3 {
  color: #626262;
  font-size: 30px;
  line-height: 36px;
}
.lifestyle-list-item p {
  color: #626262;
  font-size: 14px;
}
button {
  color: #626262;
  font-size: 20px;
}

.lifestyle-list {
  padding: 0;
  margin: 0;
  font-size: 0px;
}
.lifestyle-list-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
}

/*Потрібно розібратіся з маржинами між контентом */

.lifestyle-list-item:nth-child(2n) {
  margin-right: 0px;
}
/*Для того щоб прибрати відступи справа в усіх елементів 
які булі під номером (2) два, прописав цю команду */
