html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Playfair Display", "Arial", "Times New Roman", sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
.container {
  width: 900px;
  margin: 0px auto;
}

/*HEADER*/

.main-menu {
  width: 900px;
  margin-top: 77px;
  margin-bottom: 104px;
  padding-left: 165px;
  padding-right: 165px;
  font-family: "Playfair Display", "Arial", "Times New Roman", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.main-menu li {
  display: inline-block;
  margin-right: 101px;
}
.main-menu li:last-child {
  margin-right: 0px;
}
.main-menu a {
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
ul.main-menu {
  list-style: none;
}
.main-nav a:hover,
.main-nav a:focus {
  color: #03a9f4;
}

/* MAIN*/

.lifestyle-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}
.lifestyle-list-item {
  display: inline-block;
  width: 420px;
  height: 474px;
  margin-right: 60px;
  margin-bottom: 135px;
}
.lifestyle-list-item:nth-child(2n) {
  margin-right: 0px;
}
img {
  margin-bottom: 30px;
}
p.Ubuntu {
  display: inline;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 27px;
}
.lifestyle-list-item h3 {
  color: #626262;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.lifestyle-list-item p {
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}
.about {
  width: 420px;
  height: 63px;
}
button {
  display: inline-block;
  margin-top: 57px;
  margin-right: 375px;
  margin-bottom: 70px;
  margin-left: 360px;
  padding-left: 33px;
  padding-top: 26px;
  padding-right: 33px;
  padding-bottom: 20px;
  color: #626262;
  border-color: #626262;
  font-size: 20px;
}
button:hover,
button:focus {
  color: #03a9f4;
}
