/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.container {
  width: 290px;
  height: auto;
  margin: 0 auto;
}

/* HEADER */

.main-header {
  background-image: url(../img/mb/Vector_mb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-content {
  padding: 34px 0 138px 0;
  margin: 0 auto;
}
.main-logo {
  display: none;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.main-logo-mobile {
  display: block;
  text-align: center;
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.navigation-button {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  width: 94px;
  height: 40px;
  background-color: transparent;
  border: none;
}
.navigation-button:focus,
.navigation-button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 20px;
  outline: none;
}
.share-your-dream {
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserran", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.about-dream {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}
.dream-link {
  display: block;
  font-size: 14px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
.main-navigation {
  display: flex;
  margin-bottom: 116px;
}
.navigation-button-list {
  margin: 0 auto;
}

/* MAIN */

.partner {
  padding: 70px 0px 56px;
}
.meet-partner {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  font-family: 700;
  text-align: center;
  margin-bottom: 16px;
}
.partner-list {
  margin-bottom: 28px;
}
@media (max-width 767px) {
  .partner-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.partner-img {
  width: 122px;
  height: 122px;
  margin: 0 auto 22px;
  position: relative;
}
.partner-img img {
  border-radius: 50%;
}
.partner-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
}
.hunter::before {
  background-color: rgb(255, 78, 80);
  background-image: url(../img/mb/tv.png);
}
.marsha::before {
  background-color: rgb(255, 165, 7);
  background-image: url(../img/mb/flask.png);
}
.walker::before {
  background-color: rgb(28, 215, 173);
  background-image: url(../img/mb/coffe.png);
}
.bradley::before {
  background-color: rgb(78, 115, 219);
  background-image: url(../img/mb/telegram.png);
}
.partner-name {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.about-partner {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
}
.other-partners {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 78, 80);
  border-radius: 20px;
  width: 284px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 660px;
  }
  /* header-tb */

  .main-header {
    background-image: url(../img/tb/Vector_tb.jpg);
  }
  .header-content {
    padding: 38px 0 234px 0;
  }
  .main-logo-mobile {
    display: none;
  }
  .main-logo {
    display: block;
  }
  .main-navigation {
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 146px;
  }
  .navigation-button-list {
    margin: 0;
  }
  .share-your-dream {
    font-size: 52px;
    margin-bottom: 38px;
  }
  .about-dream {
    font-size: 24px;
    margin-bottom: 36px;
  }
  /* main-tb */

  .meet-partner {
    margin-bottom: 34px;
  }
  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner-list-item {
    width: 35%;
  }
  .partner-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
}

@media (min-width: 980px) {
  .container {
    width: 940px;
  }
  /* header-pc */

  .main-header {
    background-image: url(../img/pc/Vector_pc.jpg);
  }
  .main-logo-mobile {
    display: none;
  }
  .main-logo {
    display: block;
  }
  .main-navigation {
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 146px;
  }
  .navigation-button-list {
    margin: 0;
  }
  .share-your-dream {
    font-size: 52px;
    padding-bottom: 38px;
  }
  .about-dream {
    font-size: 24px;
    padding-bottom: 36px;
  }
  /* main-pc */

  .meet-partner {
    margin-bottom: 36px;
  }
  .partner-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
  }
  .partner-list-item {
    width: 23%;
  }
}
