* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/*HEADER*/

.main-navigation {
  padding: 40px 0px;
}
.site-logo {
  float: left;
  font-size: 30px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #555252;
  text-transform: uppercase;
}
.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.navigation-list {
  float: right;
  margin-top: 5px;
}
.navigation-list-item {
  float: left;
}
.navigation-list-item:not(:last-child) {
  margin-right: 34px;
}
.navigation-list-link {
  font-size: 14px;
  font-family: "open Sans", sans-serif;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
}
.navigation-list-link:hover {
  color: #1abc9c;
}

/*slider*/
.slider {
  position: relative;
  height: 600px;
}
.button-slider {
  position: absolute;
  width: 1110px;
  top: 50%;
  transform: translateY(-50%);
}
.slider-ctrl {
  display: inline-block;
  background-color: rgba(78, 198, 171, 0.6);
  width: 104px;
  height: 104px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.prew {
  float: left;
  background-image: url(../img/header/prew.png);
}
.next {
  float: right;
  background-image: url(../img/header/next.png);
}
.slider-ctrl:hover {
  background-color: #1abc9c;
}
.text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 770px;
}
.name-page {
  font-size: 60px;
  line-height: 82px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}
.page-about {
  font-size: 24px;
  line-height: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

/*
.collection {
  background-color: #e9f0fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.name-collection {
  font-size: 48;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
  margin-bottom: 80px;
}
.name-collection::after {
  display: block;
  background-color: rgb(26, 188, 156);
  content: "";
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 32px;
}
.collection-list-item {
  float: left;
  width: 255px;
}
.collection-list-item:not(:last-child) {
  margin-right: 30px;
}
.product-information {
  font-size: 18px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #323232;
}
.product-name {
  display: inline-block;
}
.prise {
  float: right;
}
*/
