html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1110px;
  margin: 0px auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
h2 {
  text-align: center;
  font-size: 48px;
  line-height: 32px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #515151;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 92px;
}
h2::after {
  display: table;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 0px auto;
  margin-top: 32px;
}

/*header*/

.main-navigation {
  padding-top: 38px;
  padding-bottom: 105px;
}
.main-logo {
  float: left;
  margin: 0px;
  padding: 0px;
}
.main-logo::first-letter {
  color: #1abc9c;
}
.main-logo a {
  display: block;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #555252;
  text-transform: uppercase;
  line-height: 32px;
}
.main-menu {
  float: right;
  height: auto;
  list-style: none;
  padding: 0px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.main-menu li {
  margin-right: 34px;
  float: left;
}
.main-menu li:last-child {
  margin: 0px;
}
.main-menu a {
  display: block;
  font-size: 14px;
  font-weight: 700px;
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 11px;
}
.main-navigation a:hover,
.main-navigation a:focus {
  color: #1abc9c;
}

/*main*/

/*featured-products*/

.featured-products {
  margin-bottom: 106px;
}
.products-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.products-list-item {
  float: left;
  width: 255px;
  height: 320px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #e9f0fd;
  cursor: pointer;
}
.products-list-item:nth-child(4n) {
  margin-right: 0px;
}
.products-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}
.products-list-item:hover .name-product {
  background-color: #1abc9c;
}
.products-list-item:hover .price {
  background-color: #7fd9c7;
}
.name-product {
  display: inline-block;
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 900px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  background-color: #323232;
}
.price {
  float: right;
  width: 55px;
  height: 40px;
  font-size: 18px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 900;
  margin: 0px;
  padding-top: 4px;
  background-color: #8c8c8c;
  text-align: center;
}

/*latest-news*/

.news-list {
  list-style: none;
  margin-bottom: 80px;
  padding: 0px;
  font-size: 0px;
}
.news-list-item {
  float: left;
  width: 350px;
  margin-right: 30px;
}
.news-list-item img {
  margin-bottom: 11px;
}
.news-list-item:last-child {
  margin-right: 0px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 24px;
  padding: 0px;
  font-size: 18px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #555252;
}
h3::after {
  display: table;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  content: "";
  margin-top: 11px;
}
.details {
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  color: #555252;
  margin-top: 0px;
  margin-bottom: 13px;
  padding: 0px;
}
button {
  display: block;
  width: 159px;
  height: 51px;
  background-color: #4ec6ab;
  font-size: 16px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300px;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 3px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}
button:hover,
button:focus {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}
