/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* HEADER */

.main-header {
  padding: 38px 0px 230px 0px;
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/header/eagle.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .main-header {
    background-image: linear-gradient(
        0deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/header/eagle@2x.jpg);
  }
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 196px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item {
  position: relative;
}
.navigation-list-item:not(:last-child) {
  margin-right: 56px;
}
.main-logo-link {
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  transition: all 200ms linear;
}
.main-logo-link:hover {
  color: #fce38a;
}
.navigation-list-link {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  transition: color 200ms linear;
}
.navigation-list-link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: absolute;
  transform: translateY(10px);
  opacity: 0;
  transition: all 200ms linear;
}
.navigation-list-link:hover {
  color: #fce38a;
}
.navigation-list-link:hover::after {
  opacity: 1;
}
.navigation-list-item-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navigation-svg {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-size: contain;
  fill: #ffffff;
  transition: all 200ms linear;
}
.navigation-svg:hover {
  fill: #fce38a;
  transition: all 200ms linear;
}

.span-title {
  display: block;
  font-size: 72px;
  font-family: "Kaushan Script", serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 43px;
}
.main-title {
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 109px;
}
.learn-more {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 44px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  width: 164px;
  margin: 0 auto;
  text-align: center;
  transition: all 200ms linear;
}
.learn-more:hover {
  background-color: #fce38a;
}
/* MAIN */

.section-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  color: #333333;
  text-align: center;
  padding-bottom: 44px;
}
.title-style {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin-top: 20px;
}
.section-title::after {
  display: block;
  content: "";
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 40px;
}

/* services */

.services {
  padding: 52px 0px 0px 0px;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services-list-item {
  width: 380px;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.services-information {
  margin-left: 80px;
}
.alarm {
  background-image: url(../img/services/alarm.svg);
}
.graph {
  background-image: url(../img/services/graph.svg);
}
.computer {
  background-image: url(../img/services/computer.svg);
}
.book {
  background-image: url(../img/services/book.svg);
}
.home {
  background-image: url(../img/services/home.svg);
}
.image {
  background-image: url(../img/services/image.svg);
}
.services-name {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.about-services {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
}

/* team */

.about-team {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 94px;
}
.our-team {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}
.our-team-item {
  position: relative;
  width: 380px;
}
.our-team-item:hover .team-content {
  transform: translate(-10px, -10px);
  transition: transform 200ms linear;
}
.our-team-item:hover .overlay {
  opacity: 1;
}
.team-content {
  position: relative;
}

/* overlay */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  box-shadow: 10px 10px 0px 0px #95e1d3;
  opacity: 0;
  transition: all 200ms linear;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.social-link:not(:last-child) {
  border-right: 1px solid rgb(243, 129, 129);
}
.social-link:hover {
  background-color: #f38181;
}
.social-link:hover .social-link-svg {
  fill: #ffffff;
}
.social-link-svg {
  width: 26px;
  height: 22px;
  fill: #f38181;
}
.our-team-item img {
  margin-bottom: 30px;
}
.team-name {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 13px;
}
.profession {
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #999999;
  text-align: center;
}

/* footer */

.main-footer::before {
  display: block;
  content: "";
  height: 1px;
  width: 1200px;
  background-color: rgb(229, 229, 229);
  margin: 0 auto 10px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.designed {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
}
.designed-link {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f38181;
}
.subscribe-form {
  display: flex;
}
.subscribe-form__input {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  width: 230px;
  height: 40px;
  border: 1px solid rgb(231, 231, 231);
}
.subscribe-form__btn {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
  border: none;
  transition: background-color 200ms linear;
}
.subscribe-form__btn:hover {
  background-color: #f38181;
}
::placeholder {
  color: rgb(204, 204, 204);
}
